body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}

.container{
    width: 1000px;    
    height: 600px;
    margin-left: 100px;
    padding-left: 100px; 
    border: 1px solid black;
}
form{
    display: flex;
    padding-left: 200px;
    
    
}
.form-group{
    display: flex;
    justify-content: center;
    padding-top: 10px 20px;
    margin-bottom: 50px;
    padding-top: 90px;
    margin-left: -250px;
    
    bottom: 50px;
}

img{
   width: 200px;
   height: 600px;
   margin-right: 300px;
   display: flex;
   flex-direction: row-reverse; 
   justify-content: center;
    
}
.photo img{
    margin-right:300px;
    padding-right: -400px;
}
.part{
    height: 100px;
    padding-right: 60px;
    
  
}
input{
    padding-bottom: 10px;
    
}

ul{
    width: 100px;
    margin-left: -260px;
    padding-right: 100px;

}
.center{
    display: flex;
    position: relative;
    right: 250px;
    width: 500px;
}
.gauche{
    width: 50%;
    height: 2px;
    background-color: aqua ;
}

.droit{
    width: 50%;
    height: 2px;
    background-color: gray;
}
.text{
    width: 10%;
    position: absolute;
    top: -20px;
    background-color: ;
    right: 50%;
   
    
}
p{
    position: relative;
    top: 1px;
    left: 2px;
}
.text p{
    position: absolute;
    padding-bottom: 17px;
    width: 3em;
    height: -0em;
    
    background-color:aqua;

}


.center .text{
   width: 1em;
   height: 1em;
  
}

button{
    width: 0%;
    height: 40px;
    margin-top: -10px;
    margin-left: 30px;
    padding-bottom: -100px;
}
.space{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 70px;
    padding-right: 250px;
    margin-top: 90px;
}
.bleu{
    margin-right: 20px;
    background-color: aqua;
    border-radius: 3px;
    width: 100px;
    border: none;
    
}
.border{
    width: 100px;
    border: none;
    border: 1px solid aqua;
}

@media(max-width:800px){

    .form-group{
        width: 100em;
        height: auto;  
    }
    form{
        width: 100%;
        height: auto;
    }
    
     .image-holder{
        display: none;
        width: 50%;
        height: auto;   
    }
    img{
        display: block;
        padding: 20px 30px;
    }
    
    button{
        margin-bottom: 60px;
    }
}





