*{
    box-sizing: border-box;
}
body{
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}
.input,button{
    font-family: arial;
    font-size: 15px;
    color: #333;
}
h2{
   margin: 0; 
}

.photo img{
    width: 600px;
    height: 710px;
    padding-right:150px;
    margin-right: -150px;
    flex-wrap: wrap;
    
}


.photo{
    width: 100%;
    height: 100%;
}


:focus{
   outline: none; 
}
.wrapper{
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact{
    width: auto;
    display: flex;
    position: relative;
    margin-left: 100px;
}

.inner{
    position: relative;
    padding: 20px;
    background: #fff; 
    width: 1000px;
    
    margin-top: 150px;
    display: flex;
}

.inner form{
  width: 100%;
  padding-top: 36px;
  padding-right: 100px;
  padding-right: 100px; 
  margin-right: 300px;
  flex-wrap: wrap; 
}
.inner h2{
    
    font-size: 20px;
    text-align: center;
    margin-bottom: 28px;
}
form{

    background-color:black;
    padding-right: 300px;
    margin-right: 100px;
    flex-wrap: wrap;
    
}

form .form-control{
    color: #fff;
}

.form-group input{
    width: 50%;
}
.form-group input:first-child{
    margin-right: 25px;
}
.form-wrapper{
    position: relative;
}

.form-control{
    border: 1px solid #333;
    border: none;
    border-bottom: 1px solid #333;
    background: black;
    color: #fff;
    display: inline;
    width: 100%;
    height: 30px;
    padding-right:0;
    margin-bottom: 25px;
}
.form-help{
    border: 1px solid #333;
    border: none;
    border-bottom: 1px solid #b19d66;
    background: black;
    display: inline;
    width: 100%;
    height: 30px;
    padding-right:0;
    margin-bottom: 25px;
} 
::placeholder{
    color: #fff;
    
}

h2{
    font-size: 5px;
    font-style: 10px;
    color: #fff;
}
.form-group,p{
    color: darkgoldenrod;
}

select{
   cursor: pointer;
   color: gray; 
}
select option[value=""][disabled]{
    display: none;
}

button{
    border: none;
    width: 164px;
    height: 51px;
    margin-top: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    background: #b19d66;
    font-size: 15px;
    color: #fff;
}

.hover{
   display: flex;
   flex-direction: row;
   justify-content: space-around; 
}
.p1{
    background-color: #fff;
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    
}
.p1:hover{
    background-color: #b19d66;
}


.p2{
    background-color: #b19d66;
    color: #fff;
    padding: 5px;
    border-radius: 50px;   
}
.p2:hover{
    background-color: #fff;
}
.span1{
    padding-left: 8px;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    border-radius: 50%;
    height: 10px;
    background-color: black;
    margin-left: 2px;
    margin-right: 5px;
}
.span2{
  color: black;  
}
.p3{
    background-color: #fff;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: black;
}
.p3:hover{
    background-color: #b19d66;
}
.p4{
    color: #fff;
}
.pt1{
    color:#b19d66;   
}

@media(max-width:700px){
    .contact{
        height: 100%;
        display: inline;
    }
     .photo{
        width: 100%;   
    }
     form{
        width: 100%;
        padding: 40px 0 30px;
    }
    button{
        margin-top: 60px;
    }
}
