*{
    box-sizing: border-box;
}
body{
    background: url(kalika.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}
.input,select,button{
    font-family: arial;
    font-size: 15px;
    color: #333;
}
h2{
   margin: 0; 
}
.image-holder img{
    width: 20em;
    height: 500px;
    padding-right: 25px;
    margin-left: 12px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;


}
:focus{
   outline: none; 
}
.wrapper{
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact{
    display: flex;
    position: relative;
    margin-left: 100px;
}


.inner{
    width: 60em;
    padding: 20px;
    background: #FFF;
    
    margin-left: 100px;
    margin-top: 150px;
    
    display: flex;
}
 .inner .image-holder {
    width: 50%;

} 
.inner form{
  width: 50%;
  padding-top: 36px;
  padding-left: 45px;
  padding-right: 45px;  
}
.inner h2{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-bottom: 28px;
}

.form-group{
    display: flex;
}

.form-group input{
    width: 50%;
}
.form-group input:first-child{
    margin-right: 25px;
}
.form-wrapper{
    position: relative;
}

.form-control{
    border: 1px solid #333;
    border: none;
    border-bottom: 1px solid #333;
    display: block;
    width: 100%;
    height: 30px;
    padding-right:0;
    margin-bottom: 25px;
} 

select{
   cursor: pointer;
   color: gray; 
}
select option[value=""][disabled]{
    display: none;
}

button{
    border: none;
    width: 164px;
    height: 51px;
    margin-top: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    background: #333;
    font-size: 15px;
    color: #fff;
}

.form-wrapper I{
    position: absolute;
    right: 5px;
    bottom: 4px;

}
@media(max-width:767px){
    .inner{
        display: block;
    }
    .inner .image-holder{
        display: none;
        width: 20%; 
        height: 10%;  
    }
    .inner form{
        width: 100%;
        height: 100%;
        padding: 40px 0 30px;
    }
    button{
        margin-top: 60px;
    }
}