body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(70deg, #030744, #AD2953);   
}
.container{
    padding: 80px;
    margin: 30px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.no-border{
    
    border: none;
    background-color: #030744;
    width: 400px;
    height: 500px;
    padding-left: 100px;
    margin-right: 500px;
}
.text{
    padding-bottom: 100px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px; 
}
.photo{
   width: 100px;
   height: 200px; 
   
}
img{
    width: 27em;
    height: 31em;
    margin-left: -500px;   
}
h2{
    margin-left: 70px;
    color: #AD2953;
}
label{
    display: block;
    width: 100px;
    float: left;
    color: #fff;
    font-size: 12px;
}
textarea{
    resize: none;
}

input,select,textarea{
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid white;       
}
input.help{
    font-size: 16px;
    border: none;
    outline: none;
    background: none; 
}
select{
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;  
}
option{
    background-color: #fff;
}
    
input[type="submit"]{
    width: 120px;
    height: 30px;
    bottom: 30px;
    margin-right: 30px;
    background: linear-gradient(70deg, #030744, #AD2953); 

}


@media screen and(max-width=1967){
    .text{
        flex-direction: column;
        width: 200px;
        height: 100px;
    }
    img{
        display: block;
        width: 10em;
    }
    
}
